@font-face {
    font-family: 'lora-regular';
    src: url('../assets/fonts/Lora-Regular.ttf');
}

@font-face {
    font-family: 'noto-semibold';
    src: url('../assets/fonts/NotoSans-SemiBold.ttf');
}