@tailwind base;
@tailwind components;
@import url(./style/font.css);
@tailwind utilities;

@layer base {
    html {
        font-family: 'Vazir-regular';
    }

    body {
        direction: rtl;
    }

    input::-webkit-calendar-picker-indicator {
        background: transparent;
    }
}